<div class="song-template">
	<div class="fixed flex padding-0.5em paddingless-bot paddingless-right col-2-2 bg-white" id="song-navigation">
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left" onclick="this.app.{:this.app.mainControlFn:}|{mainControlFn}|()">
			<div class="icon font-2em">
				<i class="{:this.app.mainControl:}|{mainControl}| animate"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left" onclick="this.app.seek = 0">
			<div class="icon font-2em">
				<i class="rewind"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left" onclick="this.app.addTrack()">
			<div class="icon font-2em">
				<i class="add"></i>
			</div>
		</div>
		<!-- <div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left">
			<div class="icon font-2em">
				<i class="flopy"></i>
			</div>
		</div> -->
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left" onclick="this.app.export()">
			<div class="icon font-2em">
				<i class="export"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left" onclick="this.app.home()">
			<div class="icon font-2em">
				<i class="home"></i>
			</div>
		</div>
	</div>
	<div style="height:{:this.previousElementSibling.offsetHeight:}|{inDom;momoca.screenSize},{inDom}|px"></div>
</div>
<div class="song-template" onmouseup="this.app.mouseDown = false;" oncontextmenu="event.preventDefault()">
	<!-- foreach: key("trackIndex").in(this.app.song.tracks) -->
	<div class="island flex-mid track">
		<div class="bg-primary flex row column-mid">
			<!-- this is the tool bar -->

			<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover" onclick="this.app.configTrack(this.app.song.tracks[this.trackIndex])">
				<div class="icon font-2em">
					<i class="gear"></i>
				</div>
			</div>

			<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover {: (this.app.song.tracks.length == 1) && ' hidden-state ' :}|{song.tracks.length}|" onclick="this.app.song.tracks.splice(this.trackIndex, 1)">
				<div class="icon font-2em">
					<i class="delete"></i>
				</div>
			</div>

		</div>
		<div class="bg-black padding-0.25em paddingless-left paddingless-top flex row column-mid">
			<!-- this is the main body -->
			<div class="block flex-mid">
				<!-- foreach: key("col").in(this.app.song.tracks[this.trackIndex].notes) -->
				<div class="flex column-reverse-mid">
					<!-- foreach: key("row").in(this.app.song.tracks[this.trackIndex].notes[this.col]) -->
					<div id="{:this.trackIndex + '-' + this.col + '-' + this.row :}|{song}|" class="padding-0.5em margin-0.25em marginless-right marginless-bot {:
						momoca.classOfNote(this.app.song.tracks[this.trackIndex].notes[this.col][this.row])
					:}|{song.tracks[this.trackIndex].notes[this.col][this.row]}|"></div>
					<!-- foreach: key.end(this.app.prepNote) -->
				</div>
				<!-- foreach: key.end() -->
			</div>

			<input class="grow-mid margin-0.5em marginless-right marginless-bot" name="seek" type="range" min="0" max="{: (this.app.song.beats * (+this.app.song.smallestNoteFraction)) - 1 :}|{song.beats},{song.smallestNoteFraction}|" orient="{: momoca.mediaState === 'smol' ? 'vertical' : 'horizontal' :}|{inDom;momoca.mediaState},{inDom}|">
		</div>
	</div>
	<!-- foreach: key.end(this.app.trackTouch) -->
</div>
