<div class="song-template">
	<div class="fixed flex padding-0.5em paddingless-bot paddingless-right" id="song-navigation" onclick="this.app.{:this.app.mainControlFn:}|{mainControlFn}|()">
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left">
			<div class="icon font-2em">
				<i class="{:this.app.mainControl:}|{mainControl}| animate"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left">
			<div class="icon font-2em">
				<i class="rewind"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left">
			<div class="icon font-2em">
				<i class="flopy"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left">
			<div class="icon font-2em">
				<i class="import"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left">
			<div class="icon font-2em">
				<i class="export"></i>
			</div>
		</div>
		<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover marginless-left" onclick="this.app.home()">
			<div class="icon font-2em">
				<i class="home"></i>
			</div>
		</div>
	</div>
	<div style="height:{:this.previousElementSibling.offsetHeight:}|{inDom;momoca.screenSize},{inDom}|px"></div>
</div>
<div class="song-template">
	<!-- foreach: key("trackIndex").in(this.app.song.tracks) -->
	<div class="island flex-mid">
		<div class="bg-primary flex row column-mid">
			<!-- this is the tool bar -->

			<div class="island bubble-0.25 padding-0.5em bg-gray-light bg-gray-hover">
				<div class="icon font-2em">
					<i class="gear"></i>
				</div>
			</div>

		</div>
		<div class="bg-black inline block flex-mid padding-0.25em paddingless-left paddingless-top">
			<!-- this is the main body -->

			<!-- foreach: key("col").in(this.app.song.tracks[this.trackIndex].notes) -->
			<div class="flex column-reverse-mid">
				<!-- foreach: key("row").in(this.app.song.tracks[this.trackIndex].notes[this.col]) -->
				<div class="padding-0.5em margin-0.25em marginless-right marginless-bot {:
					momoca.classOfNote(this.app.song.tracks[this.trackIndex].notes[this.col][this.row])
				:}|{song.tracks[this.trackIndex].notes[this.col][this.row]}|" onclick="momoca.toggleNote(this.app.song.tracks[this.trackIndex].notes, this.col, this.row)"></div>
				<!-- foreach: key.end() -->
			</div>
			<!-- foreach: key.end() -->
		</div>
	</div>
	<!-- foreach: key.end() -->
</div>
