<div class="modal-template fixed flex vhcenter" style="width: 100vw; height: 100vh; top:0;">
    <div class="absolute bg-gray-dark pointer" onclick="this.app.close()" style="opacity: 0.5; height: 100%; width: 100%; top:0; left:0;"></div>
    <div class="bg-white bubble-0.25 col-2-2 col-3-4-mid col-1-2-big" style="z-index: 1; min-width: {: this.app.configs.minWidth.toString() || '0px' :}|{configs}|;">
        <div class="flex bg-gray-light">
            <strong class="cell">{:this.app.configs.label.toString():}|{configs}|</strong>
            <span class="grow"></span>
            <span class="padding-h-0.75em padding-v-0.25em bg-white-hover color-primary color-primary-light-hover" onclick="this.app.close()">X</span>
        </div>
        <div class="cell" data-script="{:
            if (this.app.innerHTML && !this.app.body && !this.app.proxyView) {
                this.innerHTML = this.app.innerHTML;
                'innerHTML';
            }
            else if (this.app.body && !this.app.innerHTML && !this.app.proxyView){
                this.childNodes.forEach(function(node){
                    this.removeChild(node);
                }.bind(this));
                this.appendChild(this.app.body);
                'body';
            }
            else if (!this.app.body && !this.app.innerHTML && this.app.proxyView){
                this.app.proxyView.appendTo(this);
                'proxyView'
            }
        :}|{body},{innerHTML}|" style="max-height: 90vh; overflow: auto;"></div>
    </div>
</div>
