* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    border: none;
    color: inherit;
    background-color: inherit;
}
html {
	font-size: 14px;
}
body {
	font-family: sans-serif;
}
h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.66666667em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.33333333em;
}
h5 {
	font-size: 1.25em;
}

/* the responsive flex based grid system */
.flex,
.flex-smol {
	display: flex;
}

[class*="flex"] > .grow,
[class*="flex"] > .grow-1,
[class*="flex"] > .grow-smol,
[class*="flex"] > .grow-1-smol
{
	flex-grow: 1;
}
[class*="flex"] > .grow-2,
[class*="flex"] > .grow-2-smol
{
	flex-grow: 2;
}
[class*="flex"] > .grow-3,
[class*="flex"] > .grow-3-smol
{
	flex-grow: 3;
}

[class*="flex"] > .basis-50,
[class*="flex"] > .basis-50-smol
{
	flex-basis: 50%;
}
[class*="flex"] > .basis-100,
[class*="flex"] > .basis-100-smol,
[class*="flex"] > .basis,
[class*="flex"] > .basis-smol
{
	flex-basis: 100%;
}
[class*="flex"] > .basis-150,
[class*="flex"] > .basis-150-smol
{
	flex-basis: 150%;
}
[class*="flex"] > .basis-200,
[class*="flex"] > .basis-200-smol
{
	flex-basis: 200%;
}

[class*="flex"].vcenter,
[class*="flex"].vcenter-smol
{
	align-items: center;
}
[class*="flex"].hcenter,
[class*="flex"].hcenter-smol
{
	justify-content: center;
}
[class*="flex"].vhcenter,
[class*="flex"].vhcenter-smol
{
	align-items: center;
	justify-content: center;
}

[class*="flex"].vstart,
[class*="flex"].vstart-smol
{
	align-items: flex-start;
}
[class*="flex"].hstart,
[class*="flex"].hstart-smol
{
	justify-content: flex-start;
}
[class*="flex"].vhstart,
[class*="flex"].vhstart-smol
{
	align-items: flex-start;
	justify-content: flex-start;
}

[class*="flex"].vend,
[class*="flex"].vend-smol
{
	align-items: flex-end;
}
[class*="flex"].hend,
[class*="flex"].hend-smol
{
	justify-content: flex-end;
}
[class*="flex"].vhend,
[class*="flex"].vhend-smol
{
	align-items: flex-end;
	justify-content: flex-end;
}

[class*="flex"] .wrap,
[class*="flex"] .wrap-smol
{
	flex-wrap: wrap;
}

.block,
.block-smol
{
	display: block
}

.inline,
.inline-smol
{
	display: inline;
}
.inline.block,
.inline.block-smol,
.inline-smol.block,
.inline-smol.block-smol
{
	display: inline-block;
}
.inline.flex,
.inline.flex-smol,
.inline-smol.flex,
.inline-smol.flex-smol
{
	display: inline-flex;
}
.relative,
.relative-smol
{
	position: relative;
}
.absolute,
.absolute-smol
{
	position: absolute;
}
.fixed,
.fixed-smol
{
	position: fixed;
}

.col-0,
.col-0-smol,
.col-0-2,
.col-0-2-smol,
.col-0-3,
.col-0-3-smol,
.col-0-4,
.col-0-4-smol,
.col-0-6,
.col-0-6-smol,
.col-0-12,
.col-0-12-smol
{
	width: 0;
}
.col-1-12,
.col-1-12-smol {
	width: 8.33333333%;
}
.col-1-6,
.col-1-6-smol,
.col-2-12,
.col-2-12-smol
{
	width: 16.66666667%;
}
.col-1-4,
.col-1-4-smol,
.col-3-12,
.col-3-12-smol
{
	width: 25%;
}
.col-1-3,
.col-1-3-smol,
.col-2-6,
.col-2-6-smol,
.col-4-12,
.col-4-12-smol
{
	width: 33.33333333%;
}
.col-5-12,
.col-5-12-smol {
	width: 41.66666667%;
}
.col-1-2,
.col-1-2-smol,
.col-2-4,
.col-2-4-smol,
.col-3-6,
.col-3-6-smol,
.col-6-12,
.col-6-12-smol
{
	width: 50%;
}
.col-7-12,
.col-7-12-smol {
	width: 58.33333333%;
}
.col-1-3,
.col-1-3-smol,
.col-2-6,
.col-2-6-smol,
.col-8-12,
.col-8-12-smol
{
	width: 66.66666667%;
}
.col-3-4,
.col-3-4-smol,
.col-4-6,
.col-4-6-smol,
.col-9-12,
.col-9-12-smol {
	width: 75%;
}
.col-5-6,
.col-5-6-smol,
.col-10-12,
.col-10-12-smol {
	width: 83.33333333%;
}
.col-11-12,
.col-11-12-smol {
	width: 91.66666667%
}
.col-2-2,
.col-2-2-smol,
.col-3-3,
.col-3-3-smol,
.col-4-4,
.col-4-4-smol,
.col-6-6,
.col-6-6-smol,
.col-12-12,
.col-12-12-smol {
	width: 100%;
}


.font-0rem,
.font-0rem-smol,
.font-0em,
.font-0em-smol,
.font-0,
.font-0-smol
{
	font-size:0;
}
.font-0\.25rem,
.font-0\.25rem-smol
{
	font-size:0.25rem;
}
.font-0\.5rem,
.font-0\.5rem-smol
{
	font-size:0.5rem;
}
.font-0\.75rem,
.font-0\.-75rem-smol
{
	font-size:0.75rem;
}
.font-1rem,
.font-1rem-smol
{
	font-size:1rem;
}
.font-1\.25rem,
.font-1\.25rem-smol
{
	font-size:1.25rem;
}
.font-1\.5rem,
.font-1\.5rem-smol{
	font-size:1.5rem;
}
.font-1\.75rem,
.font-1\.75rem-smol{
	font-size:1.75rem;
}
.font-2rem,
.font-2rem-smol
{
	font-size:2rem;
}
.font-0\.25em,
.font-0\.25em-smol
{
	font-size:0.25em;
}
.font-0\.5em,
.font-0\.5em-smol
{
	font-size:0.5em;
}
.font-0\.75em,
.font-0\.-75em-smol
{
	font-size:0.75em;
}
.font-1em,
.font-1em-smol
{
	font-size:1em;
}
.font-1\.25em,
.font-1\.25em-smol
{
	font-size:1.25em;
}
.font-1\.5em,
.font-1\.5em-smol{
	font-size:1.5em;
}
.font-1\.75em,
.font-1\.75em-smol{
	font-size:1.75em;
}
.font-2em,
.font-2em-smol
{
	font-size:2em;
}

.text-center,
.text-center-smol {
	text-align: center;
}
.text-left,
.text-left-smol {
	text-align: left;
}
.text-justify,
.text-justify-smol {
	text-align: justify;
}
.text-right,
.text-right-smol {
	text-align: right;
}

.bg-primary-light {
    background-color: #00DD00;
    color: #000;
}
.bg-primary {
    background-color: #006600;
    color: #FFF;
}
.bg-primary-dark {
    background-color: #003300;
    color: #FFF;
}
.bg-secondary {
    background-color: #FF481F;
    color: #000;
}
.bg-secondary-light {
    background-color: #FF7355;
    color: #000;
}
.bg-black {
    background-color: #000;
    color: #FFF;
}
.bg-gray-dark {
    background-color: #999;
    color: #FFF;
}
.bg-gray {
    background-color: #CCC;
    color: #000;
}
.bg-gray-light {
    background-color: #E9E9E9;
    color: #000;
}
.bg-white {
    background-color: #FFF;
    color: #000;
}

.color-primary {
    color: #006600;
}
.color-primary-light {
    color: #00DD00;
}
.color-primary-dark {
    color: #003300;
}
.color-secondary {
    color: #FF481F;
}
.color-secondary-light {
    color: #FF7355;
}
.color-black {
    color: #000;
}
.color-gray-dark {
    color: #999;
}
.color-gray {
    color: #CCC;
}
.color-gray-light {
    color: #E9E9E9;
}
.color-white {
    color: #FFF;
}

.hide {
    display: none;
}
.hidden-state {
    display: none !important;
}

.input-row {
    border-bottom: solid 1px currentcolor;
}
.island {
    margin: 0.5rem;
}
.cell {
    padding: 0.5rem;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

main:empty::before {
	content: " ";
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30vh;

	width: 8em;
	height: 8em;
	border-radius: 5em;
	border: solid 0.75em rgba(0,0,0,0);
	border-top-color: #006600;

	-webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
