/* Inspired by: http://cssicon.space/ */
/* http://cssicon.space/old/ */
.icon {
	position: relative;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
}
.icon:before, .icon:after {
	content: '';
	position: absolute;
	display: block;
	box-sizing: border-box;
}
.icon.animate {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.play.icon {
	border-top: solid 0.5em rgba(0,0,0,0);
	border-bottom: solid 0.5em rgba(0,0,0,0);
	border-right: solid 0.1em rgba(0,0,0,0);
	border-left: solid 0.9em currentcolor;
}

.stop.icon {
	background-color: currentcolor;
}

.loading.icon {
	border-radius: 0.75em;
	border: solid 0.15em rgba(0,0,0,0);
	border-top-color: currentcolor;

	-webkit-animation-name: loading-icon;
    animation-name: loading-icon;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes loading-icon {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

.rewind.icon {
	border-left: solid 0.15em currentcolor;
}
.rewind.icon:before, .rewind.icon:after {
	width: 0.6em;
	height: 1em;
	top: 0;
	left: -0.15em;

	border-top: solid 0.5em rgba(0,0,0,0);
	border-bottom: solid 0.5em rgba(0,0,0,0);
	border-left: none;
	border-right: solid 0.6em currentcolor;
}
.rewind.icon:after {
	left: 0.25em;
}

.export.icon {
	margin-top: 0.25em;
	height: 0.75em;
	border: solid 0.15em currentcolor;
	border-top-style: hidden;
	border-radius: 0.1em;
}
.export.icon:before {
	top: -0.2em;
	bottom: 0.1em;
	left: 0.275em;
	right: 0.275em;
	background-color: currentcolor;
}
.export.icon:after {
	border: solid 0.15em currentcolor;
	border-bottom: none;
	border-right: none;
	top: -0.2em;
	width: 0.35em;
	height: 0.35em;

	transform: rotate(45deg);

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
