/* Inspired by: http://cssicon.space/ */
/* http://cssicon.space/old/ */
.icon {
	background-color: rgba(0,0,0,0);
}
.icon, .icon > * {
	display: inline-block;
	position: relative;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
}
.icon > *:before, .icon > *:after {
	content: '';
	position: absolute;
	display: block;
	box-sizing: border-box;
}
.icon.animate, .icon .animate, .icon.animate *, .icon .animate *, .icon.animate *:before, .icon .animate *:after {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.icon .play {
	border-top: solid 0.5em rgba(0,0,0,0);
	border-bottom: solid 0.5em rgba(0,0,0,0);
	border-right: solid 0.1em rgba(0,0,0,0);
	border-left: solid 0.9em currentcolor;
}

.icon .stop {
	border: 0.5em solid currentcolor;
	background: radial-gradient(circle 0.2em at center, currentcolor 50%, rgba(0,0,0,0) 51%)
}

.icon .loading {
	border-radius: 0.75em;
	border: solid 0.15em rgba(0,0,0,0);
	border-left-color: currentcolor;

	-webkit-animation-name: loading-icon;
    animation-name: loading-icon;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes loading-icon {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

.icon .rewind {
	border-left: solid 0.15em currentcolor;
}
.icon .rewind:before, .icon .rewind:after {
	width: 0.6em;
	height: 1em;
	top: 0;
	left: -0.15em;

	border-top: solid 0.5em rgba(0,0,0,0);
	border-bottom: solid 0.5em rgba(0,0,0,0);
	border-left: none;
	border-right: solid 0.6em currentcolor;
}
.icon .rewind:after {
	left: 0.25em;
}

.icon .export, .icon .import {
	margin-top: 0.25em;
	height: 0.75em;
	border: solid 0.15em currentcolor;
	border-top-style: hidden;
	border-radius: 0.1em;
}
.icon .export:before, .icon .import:before {
	top: 0;
	height: 0.15em;
	width: 100%;
	border-left: solid 0.1em currentcolor;
	border-right: solid 0.1em currentcolor;
}
.icon .export:after {
	height: 2em;
	left: 0.15em;
	right: 0.15em;
	bottom: 0.6em;
	border: solid 0.2em rgba(0,0,0,0);
	border-bottom: solid 0.25em currentcolor;
	box-shadow: 0px 0.5em 0 -0.1em currentcolor;
}
.icon .import:after {
	height: 2em;
	left: 0.15em;
	right: 0.15em;
	top: 0.15em;
	border: solid 0.2em rgba(0,0,0,0);
	border-top: solid 0.25em currentcolor;
	box-shadow: 0px -0.5em 0 -0.1em currentcolor;
}

.icon .gear:before, .icon .gear:after {
	/* the gear is composed of 2 squares are placed diagonally with box shadows that extend past it. setting it via the 4 position attributes centers it and leaves 0.2em of a box */
	left: 0.4em;
	right: 0.4em;
	top: 0.4em;
	bottom: 0.4em;

	background-color: rgba(0,0,0,0); /* the center of the box is left hollow cuz it looks better */

	/* the first 4 box shadows extend out 0.4em (since the core box is 2 em) to create a cross shape*/
	box-shadow:
		0 0.4em 0 0 currentcolor,
		0 -0.4em 0 0 currentcolor,
		0.4em 0 0 0 currentcolor,
		-0.4em 0 0 0 currentcolor,
		0 0 0 0.25em currentcolor; /*the last box shadow creates the bigger center box and when 2 of these gets overlapped it looks like a gear*/
}
.icon .gear:after {
	transform: rotate(45deg);
}

.icon .home {
	height: 0.6em;
    margin-bottom: 0.5em;
    border: solid 0.5em rgba(0,0,0,0);
    border-top: none;
    border-bottom: solid 0.6em currentcolor;z
}
.icon .home:before {
	bottom: -0.8em;
	top: 0.6em;
	left: -0.3em;
	right: -0.3em;
	background: radial-gradient(circle 0.2em at bottom, rgba(0,0,0,0) 50%, currentcolor 51%);
}
.icon .home:after {
	bottom: -1em;
	top: 0.55em;
	left: -0.35em;
	right: -0.35em;
	border-right: solid 0.25em currentcolor;
	border-left: solid 0.25em currentcolor;
}

.icon .flopy {
	width: 0.2em;
	background: linear-gradient(135deg, rgba(0,0,0,0) 15%, currentcolor 16%);
}
.icon .flopy:before {
	left: 0.2em;
	right: -0.8em;
	bottom: 0.6em;
	top: 0;
	border-top: solid 0.1em currentcolor;
	border-right: solid 0.2em currentcolor;
	border-left: solid 0.1em currentColor;
	border-bottom: solid 0.05em currentcolor;
}
.icon .flopy:after {
	left: 0.2em;
	right: -0.8em;
	top: 0.4em;
	bottom: 0;
    /* box-shadow: inset -0.1em 0.05em 0 0.10em currentcolor; */
	border-top: solid 0.15em currentcolor;
    border-right: solid 0.15em currentcolor;
    border-bottom: solid 0.1em currentcolor;
}

.icon .add:before,
.icon .add:after,
.icon .delete:before,
.icon .delete:after,
.icon .minus:before {
	top: 0.4em;
	bottom: 0.4em;
	left: 0;
	right: 0;
	background-color: currentcolor;
}
.icon .add:after {
	transform: rotate(90deg);
}

.icon .delete:before {
	transform: rotate(-45deg);
}
.icon .delete:after {
	transform: rotate(45deg);
}

.icon .toggle {
	/* the hollow box */
	width: 0.3em;
	height: 0.3em;
	border: solid 0.05em currentColor;
	margin-top: 0.35em;
	margin-bottom: 0.35em;

	/* the filled in box */
	box-shadow: 0.7em 0 0 0 currentcolor;
}
.icon .toggle:before {
	top: -.75em;
	left: 0.15em;
	width: 0.6em;
	height: 0.6em;
	background: radial-gradient(0.4em 0.325em at bottom, rgba(0,0,0,0) 55%, currentcolor 55%, currentcolor 80%, rgba(0,0,0,0) 80%);
	box-shadow: 0.265em 0.275em 0 -0.225em currentcolor;
}
.icon .toggle:after {
	bottom: -.75em;
	left: 0.15em;
	width: 0.6em;
	height: 0.6em;
	background: radial-gradient(0.4em 0.325em at top, rgba(0,0,0,0) 55%, currentcolor 55%, currentcolor 80%, rgba(0,0,0,0) 80%);

	box-shadow: -0.265em -0.275em 0 -0.225em currentcolor;
}


.icon .select {
	width: 0.85em;
	height: 0.75em;
	border: dotted 0.1em currentColor;
	margin-bottom: 0.25em;
}
.icon .select:before {
	width: 0.275em;
	height: 0.5em;
	border-top: solid 0.35em rgba(0,0,0,0);
    border-right: solid 0 rgba(0,0,0,0);
    border-bottom: solid 0.15em rgba(0,0,0,0);
    border-left: solid 0.35em currentColor;
	top: 0.3em;
    left: 0.55em;
}
.icon .select:after {
	width: 0.1em;
	height: 0.3em;
	background-color: currentColor;
	top: 0.6em;
	left: 0.68em;
	transform: rotate(-23.5deg);
}

.icon .copy {
	border: solid 0.1em currentColor;
	margin-left: 0.3em;
	margin-bottom: 0.2em;
	border-top-right-radius: 0.2em;
	width: 0.7em;
	height: 0.8em;
}
.icon .copy:before {
	top: 0.1em;
	left: 0.1em;
	right: 0.1em;
	height: 0.1em;
	background-color: currentColor;
    box-shadow:
		0 0.15em 0 0 currentcolor,
		0 0.3em 0 0 currentcolor;
}
.icon .copy:after {
	border-left: solid 0.1em currentColor;
	top: 0.2em;
	right: 0.2em;
	width: 0.7em;
	height: 0.6em;
	box-shadow:
		0 0.1em 0 0 currentColor,
		-0.25em -0.35em 0 -0.25em currentColor;
}

.icon .paste {}
