body.has-font {
	font-family: "Source Sans Pro", sans-serif;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    transform: rotate(180deg);
	width: 1.5em;
}

.break-point:before {
	content: "smol";
	display: none;
}


/*the rest is our frameworky css*/
[onclick],
.link {
    cursor: pointer;
}
.pointer[onclick] {
    cursor: initial;
}
.bubble-1\.5 {
	border-radius: 1.5em;
}
.bubble-1\.25 {
	border-radius: 1.25em;
}
.bubble-1 {
	border-radius: 1em;
}
.bubble,
.bubble-0\.75 {
	border-radius: 0.75em;
}
.bubble-0\.5 {
	border-radius: 0.5em;
}
.bubble-0\.25 {
	border-radius: 0.25em;
}

/* the responsive stuff that we dont need till later so whatever laod slowly is ok */
@media screen and (min-width: 593px){
	.break-point:before {
		content: "mid";
	}

	.flex-mid {
		display: flex;
	}

	[class*="flex"] > .grow-1-mid,
	[class*="flex"] > .grow-mid
	{
		flex-grow: 1;
		min-width: 1px;
	}
	[class*="flex"] > .grow-2-mid
	{
		flex-grow: 2;
		min-width: 1px;
	}
	[class*="flex"] > .grow-3-mid
	{
		flex-grow: 3;
		min-width: 1px;
	}

	[class*="flex"] > .basis-50-mid
	{
		flex-basis: 50%;
		min-width: 1px;
	}
	[class*="flex"] > .basis-100-mid,
	[class*="flex"] > .basis-mid
	{
		flex-basis: 100%;
		min-width: 1px;
	}
	[class*="flex"] > .basis-150-mid
	{
		flex-basis: 150%;
		min-width: 1px;
	}
	[class*="flex"] > .basis-200-mid
	{
		flex-basis: 200%;
		min-width: 1px;
	}

	[class*="flex"].vcenter-mid
	{
		align-items: center;
	}
	[class*="flex"].hcenter-mid
	{
		justify-content: center;
	}
	[class*="flex"].vhcenter-mid
	{
		align-items: center;
		justify-content: center;
	}

	[class*="flex"].vstart-mid
	{
		align-items: flex-start;
	}
	[class*="flex"].hstart-mid
	{
		justify-content: flex-start;
	}
	[class*="flex"].vhstart-mid
	{
		align-items: flex-start;
		justify-content: flex-start;
	}

	[class*="flex"].vend-mid
	{
		align-items: flex-end;
	}
	[class*="flex"].hend-mid
	{
		justify-content: flex-end;
	}
	[class*="flex"].vhend-mid
	{
		align-items: flex-end;
		justify-content: flex-end;
	}

    [class*="flex"].column-mid
    {
        flex-direction: column;
    }
    [class*="flex"].row-mid
    {
        flex-direction: row;
    }
    [class*="flex"].column-reverse-mid
    {
        flex-direction: column-reverse;
    }
    [class*="flex"].row-reverse-mid
    {
        flex-direction: row-reverse;
    }

	[class*="flex"] .wrap-mid
	{
		flex-wrap: wrap;
	}

	.block-mid
	{
		display: block
	}
	.inline-mid
	{
		display: inline;
	}
	.inline.block-mid,
	.inline-mid.block,
	.inline-mid.block-mid
	{
		display: inline-block;
	}
	.inline.flex-mid,
	.inline-mid.flex,
	.inline-mid.flex-mid
	{
		display: inline-flex;
	}
	.relative-mid
	{
		position: relative;
	}
	.absolute-mid
	{
		position: absolute;
	}
	.fixed-mid
	{
		position: fixed;
	}

    .col-0-mid,
    .col-0-2-mid,
    .col-0-3-mid,
    .col-0-4-mid,
    .col-0-6-mid,
    .col-0-12-mid {
        width: 0;
    }
    .col-1-12-mid {
        width: 8.33333333%;
    }
    .col-1-6-mid,
    .col-2-12-mid {
        width: 16.66666667%;
    }
    .col-1-4-mid,
    .col-3-12-mid {
        width: 25%;
    }
    .col-1-3-mid,
    .col-2-6-mid,
    .col-4-12-mid {
        width: 33.33333333%;
    }
    .col-5-12-mid {
        width: 41.66666667%;
    }
    .col-1-2-mid,
    .col-2-4-mid,
    .col-3-6-mid,
    .col-6-12-mid {
        width: 50%;
    }
    .col-7-12-mid {
        width: 58.33333333%;
    }
    .col-1-3-mid,
    .col-2-6-mid,
    .col-8-12-mid {
        width: 66.66666667%;
    }
    .col-3-4-mid,
    .col-4-6-mid,
    .col-9-12-mid {
        width: 75%;
    }
    .col-5-6-mid,
    .col-10-12-mid {
        width: 83.33333333%;
    }
    .col-11-12-mid {
        width: 91.66666667%
    }
    .col-2-2-mid,
    .col-3-3-mid,
    .col-4-4-mid,
    .col-6-6-mid,
    .col-12-12-mid {
        width: 100%;
    }

	.font-0rem-mid,
	.font-0em-mid,
	.font-0-mid
	{
		font-size:0;
	}
	.font-0\.25rem-mid
	{
		font-size:0.25rem;
	}
	.font-0\.5rem-mid
	{
		font-size:0.5rem;
	}
	.font-0\.-75rem-mid
	{
		font-size:0.75rem;
	}
	.font-1rem-mid
	{
		font-size:1rem;
	}
	.font-1\.25rem-mid
	{
		font-size:1.25rem;
	}
	.font-1\.5rem-mid{
		font-size:1.5rem;
	}
	.font-1\.75rem-mid{
		font-size:1.75rem;
	}
	.font-2rem-mid
	{
		font-size:2rem;
	}
	.font-0\.25em-mid
	{
		font-size:0.25em;
	}
	.font-0\.5em-mid
	{
		font-size:0.5em;
	}
	.font-0\.-75em-mid
	{
		font-size:0.75em;
	}
	.font-1em-mid
	{
		font-size:1em;
	}
	.font-1\.25em-mid
	{
		font-size:1.25em;
	}
	.font-1\.5em-mid{
		font-size:1.5em;
	}
	.font-1\.75em-mid{
		font-size:1.75em;
	}
	.font-2em-mid
	{
		font-size:2em;
	}

	/* text alignment stuff */
	.text-center-mid {
		text-align: center;
	}
	.text-left-mid {
		text-align: left;
	}
	.text-justify-mid {
		text-align: justify;
	}
	.text-right-mid {
		text-align: right;
	}
}

@media screen and (min-width: 1040px){ /* a bit under the standard 1080 screen (some are 1060 for some reason) so if they are side ways, it still is in large mode*/
	.break-point:before {
		content: "big";
	}

	.flex-big {
		display: flex;
	}

	[class*="flex"] > .grow-1-big
	{
		flex-grow: 1;
	}
	[class*="flex"] > .grow-2-big
	{
		flex-grow: 2;
	}
	[class*="flex"] > .grow-3-big
	{
		flex-grow: 3;
	}

	[class*="flex"] > .basis-50-big
	{
		flex-basis: 50%;
	}
	[class*="flex"] > .basis-100-big,
	[class*="flex"] > .basis-big
	{
		flex-basis: 100%;
	}
	[class*="flex"] > .basis-150-big
	{
		flex-basis: 150%;
	}
	[class*="flex"] > .basis-200-big
	{
		flex-basis: 200%;
	}

	[class*="flex"].vcenter-big
	{
		align-items: center;
	}
	[class*="flex"].hcenter-big
	{
		justify-content: center;
	}
	[class*="flex"].vhcenter-big
	{
		align-items: center;
		justify-content: center;
	}

	[class*="flex"].vstart-big
	{
		align-items: flex-start;
	}
	[class*="flex"].hstart-big
	{
		justify-content: flex-start;
	}
	[class*="flex"].vhstart-big
	{
		align-items: flex-start;
		justify-content: flex-start;
	}

	[class*="flex"].vend-big
	{
		align-items: flex-end;
	}
	[class*="flex"].hend-big
	{
		justify-content: flex-end;
	}
	[class*="flex"].vhend-big
	{
		align-items: flex-end;
		justify-content: flex-end;
	}
    [class*="flex"].column-big
    {
        flex-direction: column;
    }
    [class*="flex"].row-big
    {
        flex-direction: row;
    }
    [class*="flex"].column-reverse-big
    {
        flex-direction: column-reverse;
    }
    [class*="flex"].row-reverse-big
    {
        flex-direction: row-reverse;
    }

	[class*="flex"] .wrap-big
	{
		flex-wrap: wrap;
	}

	.block-big
	{
		display: block
	}
	.inline-big
	{
		display: inline;
	}
	.inline.block-big,
	.inline-big.block,
	.inline-big.block-big
	{
		display: inline-block;
	}
	.inline.flex-big,
	.inline-big.flex,
	.inline-big.flex-big
	{
		display: inline-flex;
	}
	.relative-big
	{
		position: relative;
	}
	.absolute-big
	{
		position: absolute;
	}
	.fixed-big
	{
		position: fixed;
	}

    .col-0-big,
    .col-0-2-big,
    .col-0-3-big,
    .col-0-4-big,
    .col-0-6-big,
    .col-0-12-big {
        width: 0;
    }
    .col-1-12-big {
        width: 8.33333333%;
    }
    .col-1-6-big,
    .col-2-12-big {
        width: 16.66666667%;
    }
    .col-1-4-big,
    .col-3-12-big {
        width: 25%;
    }
    .col-1-3-big,
    .col-2-6-big,
    .col-4-12-big {
        width: 33.33333333%;
    }
    .col-5-12-big {
        width: 41.66666667%;
    }
    .col-1-2-big,
    .col-2-4-big,
    .col-3-6-big,
    .col-6-12-big {
        width: 50%;
    }
    .col-7-12-big {
        width: 58.33333333%;
    }
    .col-2-3-big,
    .col-3-6-big,
    .col-8-12-big {
        width: 66.66666667%;
    }
    .col-3-4-big,
    .col-4-6-big,
    .col-9-12-big {
        width: 75%;
    }
    .col-5-6-big,
    .col-10-12-big {
        width: 83.33333333%;
    }
    .col-11-12-big {
        width: 91.66666667%
    }
    .col-2-2-big,
    .col-3-3-big,
    .col-4-4-big,
    .col-6-6-big,
    .col-12-12-big {
        width: 100%;
    }

	.font-0rem-big,
	.font-0em-big,
	.font-0-big
	{
		font-size:0;
	}
	.font-0\.25rem-big
	{
		font-size:0.25rem;
	}
	.font-0\.5rem-big
	{
		font-size:0.5rem;
	}
	.font-0\.-75rem-big
	{
		font-size:0.75rem;
	}
	.font-1rem-big
	{
		font-size:1rem;
	}
	.font-1\.25rem-big
	{
		font-size:1.25rem;
	}
	.font-1\.5rem-big{
		font-size:1.5rem;
	}
	.font-1\.75rem-big{
		font-size:1.75rem;
	}
	.font-2rem-big
	{
		font-size:2rem;
	}
	.font-0\.25em-big
	{
		font-size:0.25em;
	}
	.font-0\.5em-big
	{
		font-size:0.5em;
	}
	.font-0\.-75em-big
	{
		font-size:0.75em;
	}
	.font-1em-big
	{
		font-size:1em;
	}
	.font-1\.25em-big
	{
		font-size:1.25em;
	}
	.font-1\.5em-big{
		font-size:1.5em;
	}
	.font-1\.75em-big{
		font-size:1.75em;
	}
	.font-2em-big
	{
		font-size:2em;
	}

	/* text alignment stuff */
	.text-center-big {
		text-align: center;
	}
	.text-left-big {
		text-align: left;
	}
	.text-justify-big {
		text-align: justify;
	}
	.text-right-big {
		text-align: right;
	}
}

/*the rules for declaring how to repsond to user interaction*/
.bg-primary-light-hover:hover,
.bg-primary-light-hover:active,
.bg-primary-light-hover:focus {
    background-color: #00DD00;
    color: #000;
}
.bg-primary-hover:hover,
.bg-primary-hover:active,
.bg-primary-hover:focus {
    background-color: #006600;
    color: #FFF;
}
.bg-primary-dark-hover:hover,
.bg-primary-dark-hover:active,
.bg-primary-dark-hover:focus {
    background-color: #003300;
    color: #FFF;
}
.bg-secondary-light-hover:hover,
.bg-secondary-light-hover:active,
.bg-secondary-light-hover:focus {
    background-color: #B25309;
    color: #000;
}
.bg-secondary-hover:hover,
.bg-secondary-hover:active,
.bg-secondary-hover:focus {
    background-color: #331905;
    color: #FFF;
}
.bg-black-hover:hover,
.bg-black-hover:active,
.bg-black-hover:focus {
    background-color: #000;
    color: #FFF;
}
.bg-gray-dark-hover:hover,
.bg-gray-dark-hover:active,
.bg-gray-dark-hover:focus {
    background-color: #999;
    color: #FFF;
}
.bg-gray-hover:hover,
.bg-gray-hover:active,
.bg-gray-hover:focus {
    background-color: #CCC;
    color: #000;
}
.bg-gray-light-hover:hover,
.bg-gray-light-hover:active,
.bg-gray-light-hover:focus {
    background-color: #EEE;
    color: #000;
}
.bg-white-hover:hover,
.bg-white-hover:active,
.bg-white-hover:focus {
    background-color: #FFF;
    color: #000;
}


.color-primary-hover:hover,
.color-primary-hover:active,
.color-primary-hover:focus {
    color: #006600;
}
.color-primary-bright-hover:hover,
.color-primary-bright-hover:active,
.color-primary-bright-hover:focus {
    color: #00DD00;
}
.color-primary-dark-hover:hover,
.color-primary-dark-hover:active,
.color-primary-dark-hover:focus {
    color: #003300;
}
.color-secondary-hover:hover,
.color-secondary-hover:active,
.color-secondary-hover:focus {
    color: #331905;
}
.color-secondary-light-hover:hover,
.color-secondary-light-hover:active,
.color-secondary-light-hover:focus {
    color: #B25309;
}
.color-black-hover:hover,
.color-black-hover:active,
.color-black-hover:focus {
    color: #000;
}
.color-gray-dark-hover:hover,
.color-gray-dark-hover:active,
.color-gray-dark-hover:focus {
    color: #999;
}
.color-gray-hover:hover,
.color-gray-hover:active,
.color-gray-hover:focus {
    color: #CCC;
}
.color-gray-light-hover:hover,
.color-gray-light-hover:active,
.color-gray-light-hover:focus {
    color: #EEE;
}
.color-white-hover:hover,
.color-white-hover:active,
.color-white-hover:focus {
    color: #FFF;
}

/*controlling padding and margin*/
.paddingless{
	padding:0;
}
.padding-0\.25em{
	padding:.25em;
}
.padding-0\.25rem{
	padding:.25rem;
}
.padding-0\.5em{
	padding:.5em;
}
.padding-0\.5rem{
	padding:.5rem;
}
.padding-0\.75em{
	padding:.75em;
}
.padding-0\.75rem{
	padding:.75rem;
}
.padding-1em{
	padding:1em;
}
.padding-1rem{
	padding:1rem;
}
.padding-1\.25em{
	padding:1.25em;
}
.padding-1\.25rem{
	padding:1.25rem;
}
.padding-1\.5em{
	padding:1.5em;
}
.padding-1\.5rem{
	padding:1.5rem;
}
.padding-1\.75em{
	padding:1.75em;
}
.padding-1\.75rem{
	padding:1.75rem;
}
.padding-2em{
	padding:2em;
}
.padding-2rem{
	padding:2rem;
}
.padding-h-0\.25em{
	padding-left:.25em;
	padding-right:.25em;
}
.padding-h-0\.25rem{
	padding-left:.25rem;
	padding-right:.25rem;
}
.padding-h-0\.5em{
	padding-left:.5em;
	padding-right:.5em;
}
.padding-h-0\.5rem{
	padding-left:.5rem;
	padding-right:.5rem;
}
.padding-h-0\.75em{
	padding-left:.75em;
	padding-right:.75em;
}
.padding-h-0\.75rem{
	padding-left:.75rem;
	padding-right:.75rem;
}
.padding-h-1em{
	padding-left:1em;
	padding-right:1em;
}
.padding-h-1rem{
	padding-left:1rem;
	padding-right:1rem;
}
.padding-h-1\.25em{
	padding-left:1.25em;
	padding-right:1.25em;
}
.padding-h-1\.25rem{
	padding-left:1.25rem;
	padding-right:1.25rem;
}
.padding-h-1\.5em{
	padding-left:1.5em;
	padding-right:1.5em;
}
.padding-h-1\.5rem{
	padding-left:1.5rem;
	padding-right:1.5rem;
}
.padding-h-1\.75em{
	padding-left:1.75em;
	padding-right:1.75em;
}
.padding-h-1\.75rem{
	padding-left:1.75rem;
	padding-right:1.75rem;
}
.padding-h-2em{
	padding-left:2em;
	padding-right:2em;
}
.padding-h-2rem{
	padding-left:2rem;
	padding-right:2rem;
}
.padding-v-0\.25em{
	padding-top:.25em;
	padding-bottom:.25em;
}
.padding-v-0\.25rem{
	padding-top:.25rem;
	padding-bottom:.25rem;
}
.padding-v-0\.5em{
	padding-top:.5em;
	padding-bottom:.5em;
}
.padding-v-0\.5rem{
	padding-top:.5rem;
	padding-bottom:.5rem;
}
.padding-v-0\.75em{
	padding-top:.75em;
	padding-bottom:.75em;
}
.padding-v-0\.75rem{
	padding-top:.75rem;
	padding-bottom:.75rem;
}
.padding-v-1em{
	padding-top:1em;
	padding-bottom:1em;
}
.padding-v-1rem{
	padding-top:1rem;
	padding-bottom:1rem;
}
.padding-v-1\.25em{
	padding-top:1.25em;
	padding-bottom:1.25em;
}
.padding-v-1\.25rem{
	padding-top:1.25rem;
	padding-bottom:1.25rem;
}
.padding-v-1\.5em{
	padding-top:1.5em;
	padding-bottom:1.5em;
}
.padding-v-1\.5rem{
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}
.padding-v-1\.75em{
	padding-top:1.75em;
	padding-bottom:1.75em;
}
.padding-v-1\.75rem{
	padding-top:1.75rem;
	padding-bottom:1.75rem;
}
.padding-v-2em{
	padding-top:2em;
	padding-bottom:2em;
}
.padding-v-2rem{
	padding-top:2rem;
	padding-bottom:2rem;
}
.paddingless-h{
	padding-right:0;
	padding-left:0;
}
.paddingless-right{
	padding-right:0;
}
.paddingless-left{
	padding-left:0;
}
.paddingless-v{
	padding-top:0;
	padding-bottom:0;
}
.paddingless-top{
	padding-top:0;
}
.paddingless-bot{
	padding-bottom:0;
}


/*controlling padding and margin*/
.marginless{
	margin:0;
}
.margin-0\.25em{
	margin:.25em;
}
.margin-0\.25rem{
	margin:.25rem;
}
.margin-0\.5em{
	margin:.5em;
}
.margin-0\.5rem{
	margin:.5rem;
}
.margin-0\.75em{
	margin:.75em;
}
.margin-0\.75rem{
	margin:.75rem;
}
.margin-1em{
	margin:1em;
}
.margin-1rem{
	margin:1rem;
}
.margin-1\.25em{
	margin:1.25em;
}
.margin-1\.25rem{
	margin:1.25rem;
}
.margin-1\.5em{
	margin:1.5em;
}
.margin-1\.5rem{
	margin:1.5rem;
}
.margin-1\.75em{
	margin:1.75em;
}
.margin-1\.75rem{
	margin:1.75rem;
}
.margin-2em{
	margin:2em;
}
.margin-2rem{
	margin:2rem;
}
.margin-h-0\.25em{
	margin-left:.25em;
	margin-right:.25em;
}
.margin-h-0\.25rem{
	margin-left:.25rem;
	margin-right:.25rem;
}
.margin-h-0\.5em{
	margin-left:.5em;
	margin-right:.5em;
}
.margin-h-0\.5rem{
	margin-left:.5rem;
	margin-right:.5rem;
}
.margin-h-0\.75em{
	margin-left:.75em;
	margin-right:.75em;
}
.margin-h-0\.75rem{
	margin-left:.75rem;
	margin-right:.75rem;
}
.margin-h-1em{
	margin-left:1em;
	margin-right:1em;
}
.margin-h-1rem{
	margin-left:1rem;
	margin-right:1rem;
}
.margin-h-1\.25em{
	margin-left:1.25em;
	margin-right:1.25em;
}
.margin-h-1\.25rem{
	margin-left:1.25rem;
	margin-right:1.25rem;
}
.margin-h-1\.5em{
	margin-left:1.5em;
	margin-right:1.5em;
}
.margin-h-1\.5rem{
	margin-left:1.5rem;
	margin-right:1.5rem;
}
.margin-h-1\.75em{
	margin-left:1.75em;
	margin-right:1.75em;
}
.margin-h-1\.75rem{
	margin-left:1.75rem;
	margin-right:1.75rem;
}
.margin-h-2em{
	margin-left:2em;
	margin-right:2em;
}
.margin-h-2rem{
	margin-left:2rem;
	margin-right:2rem;
}
.margin-v-0\.25em{
	margin-top:.25em;
	margin-bottom:.25em;
}
.margin-v-0\.25rem{
	margin-top:.25rem;
	margin-bottom:.25rem;
}
.margin-v-0\.5em{
	margin-top:.5em;
	margin-bottom:.5em;
}
.margin-v-0\.5rem{
	margin-top:.5rem;
	margin-bottom:.5rem;
}
.margin-v-0\.75em{
	margin-top:.75em;
	margin-bottom:.75em;
}
.margin-v-0\.75rem{
	margin-top:.75rem;
	margin-bottom:.75rem;
}
.margin-v-1em{
	margin-top:1em;
	margin-bottom:1em;
}
.margin-v-1rem{
	margin-top:1rem;
	margin-bottom:1rem;
}
.margin-v-1\.25em{
	margin-top:1.25em;
	margin-bottom:1.25em;
}
.margin-v-1\.25rem{
	margin-top:1.25rem;
	margin-bottom:1.25rem;
}
.margin-v-1\.5em{
	margin-top:1.5em;
	margin-bottom:1.5em;
}
.margin-v-1\.5rem{
	margin-top:1.5rem;
	margin-bottom:1.5rem;
}
.margin-v-1\.75em{
	margin-top:1.75em;
	margin-bottom:1.75em;
}
.margin-v-1\.75rem{
	margin-top:1.75rem;
	margin-bottom:1.75rem;
}
.margin-v-2em{
	margin-top:2em;
	margin-bottom:2em;
}
.margin-v-2rem{
	margin-top:2rem;
	margin-bottom:2rem;
}
.marginless-h{
	margin-right:0;
	margin-left:0;
}
.marginless-right{
	margin-right:0;
}
.marginless-left{
	margin-left:0;
}
.marginless-v{
	margin-top:0;
	margin-bottom:0;
}
.marginless-top{
	margin-top:0;
}
.marginless-bot{
	margin-bottom:0;
}
