<div class="island bg-gray-light bubble-0.25 col-1-4-big col-1-2-mid cell">
    <strong class="cell">Create New Song</strong>
    <form onsubmit="
        this.app.home.createSong(this.app.home.newSong);
        this.app.home.newSong = {};
        return false;
    ">
        <label class="flex island vcenter input-row">
            Song Name:
            <input name="home.newSong.name" type="text" class="grow margin-h-0.5em marginless-right  padding-0.25em" placeholder="New Song">
        </label>
        <label class="flex island vcenter input-row">
            Song Length:
            <input name="home.newSong.min" class="grow margin-h-0.5em marginless-right text-center padding-0.25em" placeholder="min" type="number" min="0" max="60">
            :
            <input name="home.newSong.sec" class="grow text-center  padding-0.25em" placeholder="sec" type="number" min="0" max="59">
        </label>
        <label class="flex island vcenter input-row">
            Notes per Second:
            <input name="home.newSong.nps" class="grow margin-h-0.5em marginless-right padding-0.25em" type="number" min="1" max="32" placeholder="8">
        </label>
        <div class="island">
            Instruments:
        </div>
        <!-- foreach: {
            this.app.home.newSong.instruments = [{}];
            key("instrumentIndex").in(this.app.home.newSong.instruments);
        } -->
        <div class="flex island vcenter input-row">
            {: this.instrumentIndex + 1:}|{ home.newSong.instruments[this.instrumentIndex] }|:
            <button class="margin-h-0.25em padding-0.25em bg-white-hover marginless-right color-primary color-primary-light-hover {: !!this.app.home.newSong.instruments[this.instrumentIndex].instrumentId.toString() || ' hidden-state ' :}|{ home.newSong.instruments[this.instrumentIndex].instrumentId }|" onclick="this.app.home.configure(this.app.home.newSong.instruments[this.instrumentIndex])" type="button">Edit</button>
            <select name="home.newSong.instruments[this.instrumentIndex].instrumentId" class="grow {: !!this.app.home.newSong.instruments[this.instrumentIndex].instrumentId.toString() || 'margin-h-0.25em marginless-right' :}|{ home.newSong.instruments[this.instrumentIndex].instrumentId }| padding-0.25em">
                <!-- foreach: key("instrumentIndex").in(this.app.instruments) -->
                <option value="{: this.app.instruments[this.instrumentIndex].number :}|{instruments}|">{: this.app.instruments[this.instrumentIndex].instrument :}|{instruments}|</option>
                <!-- foreach: key.end() -->
            </select>
            <button class="color-primary padding-0.25em bg-white-hover color-primary-light-hover {: this.app.home.newSong.instruments.length > 1 || ' hidden-state ' :}|{ home.newSong.instruments.length }|" onclick="this.app.home.newSong.instruments.splice(this.instrumentIndex, 1);" type="button">X</button>
        </div>
        <!-- foreach: key.end(function(item){
            item.app.home.newSong.instruments[item.instrumentIndex].instrumentId = 0;
			item.app.home.newSong.instruments[item.instrumentIndex].keyMap = momoca.presets[0].map.objectify();
			item.app.home.newSong.instruments[item.instrumentIndex].preset = 0;
        }) -->
        <div class="flex vcenter">
            <button class="island padding-0.25em bg-white-hover color-primary color-primary-light-hover" onclick="this.app.home.newSong.instruments.push({})" type="button">Add Instrument</button>
            <div class="grow"></div>
            <input type="submit" value="Create Song" class="island padding-0.25em bg-white-hover color-primary color-primary-light-hover link">
        </div>
    </form>
</div>
