<div class="flex-big">
	<label class="flex vcenter input-row basis">
		<span>Instrument:</span>
		<select name="instrument.instrumentId" class="grow margin-h-0.5em marginless-right">
			<!-- foreach: key("instrumentIndex").in(momoca.instruments) -->
			<option value="{: momoca.instruments[this.instrumentIndex].number :}|{static}|">{: momoca.instruments[this.instrumentIndex].instrument :}|{static}|</option>
			<!-- foreach: key.end() -->
		</select>
	</label>
	<div class="island"></div>
	<label class="flex vcenter input-row basis">
		<span>Note Configuration:</span>
		<select name="instrument.preset" class="grow margin-h-0.5em marginless-right">
			<!-- foreach: key("presetIndex").in(momoca.presets)-->
			<option value="{:this.presetIndex:}|{static}|">{:momoca.presets[this.presetIndex].preset:}|{static}|</option>
			<!-- foreach: key.end() -->
		</select>
		<!-- {:this.app.instrument.keyMap = momoca.presets[(+this.app.instrument.preset || 0)].map.objectify():}|{instrument.preset}| -->
	</label>
</div>

<div class="flex column-reverse">
	<!-- foreach: {
		key("rowIndex").in(this.app.instrument.keyMap)
	} -->
	<div class="preview-row flex vhcenter margin-v-0.25em marginless-bot">
		<span class="input-row flex-mid">
			<!-- select for note -->
			<select name="instrument.keyMap[this.rowIndex]">
				<!-- foreach: key("note").in(this.app.possiableNotes) -->
				<option value="{:this.app.possiableNotes[this.note]:}|{possiableNotes}|">{:this.app.possiableNotes[this.note]:}|{possiableNotes}|</option>
				<!-- foreach: key.end() -->
			</select>
			<!-- Input for note number -->
			<select name="instrument.keyMap[this.rowIndex]">
				<!-- foreach: key("note").in(this.app.possiableNotes) -->
				<option value="{:this.app.possiableNotes[this.note]:}|{possiableNotes}|">{:this.note:}|{possiableNotes}|</option>
				<!-- foreach: key.end() -->
			</select>
		</span>
		<div class="hide flex-mid">
			<!-- foreach:
			 	key("colIndex").in(this.app.instrument.notes)
			-->
			<div class="padding-0.5em margin-h-0.25em {:
				this.app.instrument.notes[this.colIndex][this.rowIndex] ? 'bg-secondary' : 'bg-gray'
			:}|{instrument.notes[this.colIndex][this.rowIndex]}| "></div>
			<!-- foreach: key.end() -->
		</div>
	</div>
	<!-- foreach: key.end() -->
</div>
<!-- <div>
    <pre>{:this.app.stringify(null, "    "):}</pre>
</div> -->
